$navbar-default-bg:  #CCE0FF;
$navbar-border-radius: 1px;

@import "bootstrap-sprockets";
@import "bootstrap";


* {
  font-family: "Courier New", Courier, monospace;
}

body .container {
  margin-top: 30px;
}

body #messages {
  margin-top: 60px; 
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: bold;
}

#logo:hover {
  color: #FFF;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('bg_vector_binary_code.jpg');
  height: 400px;
}

.jumbotron h1 {
  color: #CCE0FF;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0px;
  font-weight: bold;
}

.btn-lg {
  font-size: 1.4em;
}

.btn-lg:hover {
  background-color: #CCE0FF;
}

.article-actions {
  border-top: 1px solid #EAEAEA;
  padding-top: 5px;
  font-weight: bold;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weigth: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #EAEAEA;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #EAEAEA;
  margin-top: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #EAEAEA;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}





